@import "./global/mixins";
@import "./global/variables";
@import "./global/normalize";
@import "./components/header";
@import "./components/left-sidebar";
@import "./components/inner";

* {
    box-sizing: border-box;
}

body {
    .wrapper {
        display: flex;
        max-width: 1370px;
        margin: 0 auto;
        background-color: #ececec;
        font-family: 'Lato', sans-serif;
        .header {
            flex: 0 0 70px;
        }
        .container__inner {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            main {
                display: flex;
                
                justify-content: space-between;
                .main__inner {
                    display: flex;
                    flex-direction: column;
                    flex: 1 1 auto;;
                    margin: 14px;
                    background-color: #ececec;
                }
                .main__right-sidebar {
                    display: flex;
                    flex: 0 0 270px;
                    width: 271px;
                    height: 835px;
                    background-color: tomato;
                }
            }
            
        }
    }
}




