html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, cite, em, img, q,
samp, sub, sup, var, b, u, i, ol, ul, li, fieldset, form, label, legend, article, aside,
canvas, footer, header, nav, ruby, section, time, mark, audio, video {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

/* Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover, :focus {
  outline: 0;
}

/* Delete reference decoration*/
a {
  text-decoration: none;
}

/* Improve readability and alignment in all browsers. */
textarea {
  vertical-align: top;
  resize: vertical;
}

/* Correct the line height in all browsers.
Prevent adjustments of font size after orientation changes in iOS. */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* Render the `main` element consistently in IE. */
main {
  display: block;
}

/* Add the correct font weight in Chrome, Edge, and Safari.*/
b, strong {
  font-weight: bolder;
}

/* Remove the border on images inside links in IE 10. */
img {
  vertical-align: middle;
  border-style: none;
}

/* Change the font styles in all browsers. Remove the margin in Firefox and Safari. */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/* Show the overflow in IE. */
button, input {
  overflow: visible;
}

/* Remove the inheritance of text transform in browsers. */
button, select {
  text-transform: none;
}

/* Correct the inability to style clickable types in iOS and Safari. */
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

/* Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Correct the text wrapping in Edge and IE. Correct the color inheritance from
`fieldset` elements in IE. Remove the padding so developers are not caught out when
they zero out `fieldset` elements in all browsers.*/
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: normal;
  display: table;
  max-width: 100%;
  color: inherit;
  padding: 0;
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera.*/
progress {
  vertical-align: baseline;
}

/* Remove the default vertical scrollbar in IE 10+. */
textarea {
  overflow: auto;
}

/* Add the correct box sizing in IE 10. Remove the padding in IE 10. */
[type="checkbox"], [type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

/* Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* Correct the odd appearance in Chrome and Safari. Correct the outline style in Safari.*/
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* Remove the inner padding in Chrome and Safari on macOS. */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* Add the correct display in IE 10+. */
template, [hidden] {
  display: none;
}

header .gamburger_menu {
  position: relative;
  display: none;
  width: 2.5em;
  height: 0.3em;
  background: #fff;
}

header .gamburger_menu::after {
  content: '';
  position: absolute;
  top: 0.50em;
  left: 0;
  right: 0;
  width: 2.5em;
  height: 0.3em;
  background: #fff;
}

header .gamburger_menu::before {
  content: '';
  position: absolute;
  top: -0.50em;
  left: 0;
  right: 0;
  width: 2.5em;
  height: 0.3em;
  background: #fff;
}

header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-bottom: #f6f6f6 solid 1px;
}

header .header__nav .header__settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__nav .header__settings .settings__more {
  padding: 1.5em;
  border-right: #e6e6e680 solid 1px;
}

header .header__nav .header__settings .settings__more .more__background {
  position: relative;
  width: 33px;
  height: 18px;
  background: -webkit-gradient(linear, left bottom, left top, from(#fd5272), to(#fb765a));
  background: linear-gradient(0deg, #fd5272, #fb765a);
  border-radius: 30%;
}

header .header__nav .header__settings .settings__more .more__background .more__point {
  position: absolute;
  top: 7px;
  left: 13px;
  width: 5px;
  height: 5px;
  margin: 0;
  background: white;
  border-radius: 50%;
}

header .header__nav .header__settings .settings__more .more__background .more__point::before {
  content: '';
  position: absolute;
  top: 0;
  left: -7px;
  width: 5px;
  height: 5px;
  margin: 0;
  background: white;
  border-radius: 50%;
}

header .header__nav .header__settings .settings__more .more__background .more__point::after {
  content: '';
  position: absolute;
  top: 0;
  left: 7px;
  width: 5px;
  height: 5px;
  margin: 0;
  background: white;
  border-radius: 50%;
}

header .header__nav .header__settings .settings__folders {
  position: relative;
  width: 22px;
  height: 20px;
  margin: 1.5em;
  background: url(../img/header/folder-header.png) no-repeat center/cover;
}

header .header__nav .header__settings .settings__folders:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#fd5272), to(#fb765a));
  background: linear-gradient(0deg, #fd5272, #fb765a);
  mix-blend-mode: screen;
}

header .header__nav .header__settings .settings__settings {
  position: relative;
  width: 22px;
  height: 20px;
  margin: 1.5em;
  background: url(../img/header/settings-header.png) no-repeat center/100%;
}

header .header__nav .header__settings .settings__settings:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: -webkit-gradient(linear, left bottom, left top, from(#fd5272), to(#fb765a));
  background: linear-gradient(0deg, #fd5272, #fb765a);
  mix-blend-mode: screen;
}

header .header__nav .header__settings .settings__search {
  margin: 0 auto;
}

header .header__nav .header__settings .settings__search .settings__search:after {
  content: "";
  clear: both;
}

header .header__nav .header__settings .settings__search .search__form {
  position: relative;
  width: auto;
  margin: 0 auto;
}

header .header__nav .header__settings .settings__search .search__form input, header .header__nav .header__settings .settings__search .search__form button {
  border-radius: 5%;
  border: 1px solid #cecece;
}

header .header__nav .header__settings .settings__search .search__form input {
  width: calc(100px + 10vw);
  height: calc(25px + 1vw);
  background: transparent;
}

header .header__nav .header__settings .settings__search .search__form button {
  width: calc(25px + 1vw);
  height: calc(25px + 1vw);
  background: none;
  border: none;
  position: absolute;
  top: 1.5vw;
  right: 1vw;
  cursor: pointer;
}

header .header__nav .header__settings .settings__search .search__form button:before {
  content: "\1F50E";
  font-family: FontAwesome;
  color: #cecece;
  font-size: calc(10px + 1vw);
  font-weight: 300;
}

header .header__nav .header__settings .settings__upload {
  position: relative;
  width: 22px;
  height: 20px;
  margin: 1.5em;
  background: url(../img/header/upload-header.png) no-repeat center/cover;
}

header .header__nav .header__settings .settings__upload:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#fd5272), to(#fb765a));
  background: linear-gradient(0deg, #fd5272, #fb765a);
  mix-blend-mode: screen;
}

header .header__nav .header__settings .settings__mail {
  position: relative;
  width: 22px;
  height: 20px;
  margin: 1.5em;
  background: url(../img/header/envelope-header.png) no-repeat center/100%;
}

header .header__nav .header__settings .settings__mail:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#fd5272), to(#fb765a));
  background: linear-gradient(0deg, #fd5272, #fb765a);
  mix-blend-mode: screen;
}

header .header__nav .header__settings .settings__earth {
  position: relative;
  width: 22px;
  height: 20px;
  margin: 1.5em;
  background: url(../img/header/earth-header.png) no-repeat center/90%;
}

header .header__nav .header__settings .settings__earth:before {
  content: "";
  position: absolute;
  top: -3px;
  right: -6px;
  width: 7px;
  height: 7px;
  background-color: #fd5272;
  border-radius: 50%;
}

header .header__nav .header__settings .settings__earth:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#fd5272), to(#fb765a));
  background: linear-gradient(0deg, #fd5272, #fb765a);
  mix-blend-mode: screen;
}

header .header__nav .header__settings .header__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header__nav .header__settings .header__profile .profile__foto {
  width: 70px;
  height: 70px;
  margin: 0 1em;
  background: url(../img/header/foto_kendall.jpeg) no-repeat center/cover;
}

header .header__nav .header__settings .header__profile .profile__data .profile__name {
  margin-bottom: 0;
  font-size: 1em;
  color: #fd5272;
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#fd5272), to(#fb765a));
  background: linear-gradient(to right, #fd5272, #fb765a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

header .header__nav .header__settings .header__profile .profile__data .profile__profession {
  margin: 4px 0;
  font-size: 10px;
  color: #BFBFBF;
}

header .header__nav .header__settings .header__profile .profile__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
}

header .header__nav .header__settings .header__profile .profile__more .more__point {
  position: relative;
  width: 5px;
  height: 5px;
  background-color: #c2c2c2;
  border-radius: 50%;
}

header .header__nav .header__settings .header__profile .profile__more .more__point:before {
  content: '';
  position: absolute;
  top: -8px;
  width: 5px;
  height: 5px;
  background-color: #c2c2c2;
  border-radius: 50%;
}

header .header__nav .header__settings .header__profile .profile__more .more__point:after {
  content: '';
  position: absolute;
  top: 8px;
  width: 5px;
  height: 5px;
  background-color: #c2c2c2;
  border-radius: 50%;
}

header .statistic-tab .conteiner-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1.4em;
  background-color: white;
  border-top: whitesmoke;
}

header .statistic-tab .conteiner-header .tab__daily .daily__text {
  margin: 0;
  padding: 0.5em;
  font-weight: bold;
  font-size: calc(12px + 0.1vw);
  color: #777;
}

header .statistic-tab .conteiner-header .tab__daily .daily__number {
  margin: 0 0 0.3em 0;
  font-weight: bold;
  font-size: calc(19px + 0.1vw);
  color: #fd5272;
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#fd5272), to(#fb765a));
  background: linear-gradient(to right, #fd5272, #fb765a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

header .statistic-tab .conteiner-header .tab__daily .daily_stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: calc(12px + 0.1vw);
}

header .statistic-tab .conteiner-header .tab__daily .daily_stat p {
  margin: 0;
  padding: 0.5em;
  font-weight: bold;
  font-size: calc(12px + 0.1vw);
  color: #777;
  padding: 0;
}

header .statistic-tab .conteiner-header .tab__daily .daily_stat .up {
  color: #6c5bb6;
}

header .statistic-tab .conteiner-header .tab__daily .daily_stat .down {
  color: #fd5272;
}

header .statistic-tab .conteiner-header .tab__daily .daily__add {
  margin: 0 0 0.3em 0;
  font-weight: bold;
  font-size: calc(19px + 0.1vw);
  color: #fd5272;
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#fd5272), to(#fb765a));
  background: linear-gradient(to right, #fd5272, #fb765a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding-top: 1.5em;
}

.left-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70px;
  background: -webkit-gradient(linear, left bottom, left top, from(#fd5272), to(#fb765a));
  background: linear-gradient(0deg, #fd5272, #fb765a);
}

@media (max-width: 768px) {
  .left-sidebar {
    display: none;
  }
}

.left-sidebar .left-sidebar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#fd5272), to(#fb765a));
  background: linear-gradient(0deg, #fd5272, #fb765a);
}

.left-sidebar .left-sidebar__logo p {
  padding: 0.4em 0.7em;
  font-family: 'Deftone Stylus', arial;
  font-size: calc(27px + 0.5vw);
  text-transform: uppercase;
  text-decoration: none;
  background: white;
  mix-blend-mode: screen;
}

.left-sidebar .left-sidebar__logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.left-sidebar .left-sidebar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1000;
      -ms-flex-positive: 1000;
          flex-grow: 1000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-sidebar .left-sidebar__nav .nav__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding: 0;
}

.left-sidebar .left-sidebar__nav .nav__main .nav__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  margin: 20px;
  cursor: pointer;
}

.left-sidebar .left-sidebar__nav .nav__main .nav__link:hover::after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 40px;
  border: 10px solid transparent;
  border-left: 10px solid #EA6D54;
}

.left-sidebar .left-sidebar__nav .nav__main p {
  position: absolute;
  top: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  color: white;
}

.left-sidebar .left-sidebar__nav .nav__main .power {
  margin-top: auto;
  margin-bottom: 20px;
}

.home {
  background: url(../img/left-sidebar/home.png) no-repeat center/cover;
}

.stat {
  background: url(../img/left-sidebar/statistics.png) no-repeat center/cover;
}

.users {
  background: url(../img/left-sidebar/users.png) no-repeat center/cover;
}

.set {
  background: url(../img/left-sidebar/settings.png) no-repeat center/cover;
}

.quires {
  background: url(../img/left-sidebar/quires.png) no-repeat center/cover;
}

.power {
  background: url(../img/left-sidebar/power-button.png) no-repeat center/cover;
}

.main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 14px;
  background-color: #ececec;
}

.main__inner .main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__inner .main__container .container__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin: 9px;
  padding: 31px;
  background-color: white;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.main__inner .main__container .container__progress .box__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__inner .main__container .container__progress .box__header .h4 {
  padding-top: 1vw;
  margin: 0 0 1vw 0;
  font-size: calc(10px + 0.3vw);
  font-weight: bold;
  text-transform: capitalize;
  color: #777;
}

.main__inner .main__container .container__progress .box__header .box__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

.main__inner .main__container .container__progress .box__header .box__list .box__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 10px;
  margin: 5px;
}

.main__inner .main__container .container__progress .box__header .box__list .box__item .item {
  text-align: center;
  font-size: calc(10px + 0.2vw);
  font-weight: bold;
  color: #bfbfbf;
}

.main__inner .main__container .container__progress .box__header .box__list .box__item:hover {
  width: 60px;
  height: 30px;
  border-radius: 20px;
  background: -webkit-gradient(linear, left bottom, left top, from(#fd5272), to(#fb765a));
  background: linear-gradient(0deg, #fd5272, #fb765a);
}

.main__inner .main__container .container__progress .box__header .box__list .box__item:hover .item:hover {
  color: white;
}

.main__inner .main__container .container__progress .box__graph {
  width: 100%;
  height: 200px;
  background: url(../img/main/graph.png) no-repeat center/90%;
}

.main__inner .main__container .container__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 9px;
  padding: 31px;
  background-color: white;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.main__inner .main__container .container__circle .h4 {
  padding-top: 1vw;
  margin: 0 0 1vw 0;
  font-size: calc(10px + 0.3vw);
  font-weight: bold;
  text-transform: capitalize;
  color: #777;
}

.main__inner .main__container .container__circle .box__img {
  position: relative;
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
}

.main__inner .main__container .container__circle .box__img .percent {
  position: relative;
  width: 150px;
  height: 150px;
}

.main__inner .main__container .container__circle .box__img .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.main__inner .main__container .container__circle .box__img .percent svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
}

.main__inner .main__container .container__circle .box__img .percent svg circle:nth-child(1) {
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  stroke: #e2dfdf;
}

.main__inner .main__container .container__circle .box__img .percent svg circle:nth-child(2) {
  stroke-dashoffset: -50;
  stroke: #8646b3;
}

.main__inner .main__container .container__circle .box__img .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8646b3;
}

.main__inner .main__container .container__circle .box__img .percent .number h2 {
  font-size: 30px;
  font-weight: bold;
}

.main__inner .main__container .container__circle .box__stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

.main__inner .main__container .container__circle .box__stat p {
  margin: 0;
  padding: 0.5em;
  font-weight: bold;
  font-size: calc(12px + 0.1vw);
  color: #777;
  padding: 0;
}

.main__inner .main__container .container__circle .box__stat .up {
  color: #6c5bb6;
}

.main__inner .main__container .container__circle .box__stat .down {
  color: #fd5272;
}

.main__inner .main__container .container__feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1.5;
      -ms-flex-positive: 1.5;
          flex-grow: 1.5;
  width: 350px;
  margin: 9px;
  padding: 31px;
  background-color: white;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.main__inner .main__container .container__feed .feed__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.main__inner .main__container .container__feed .feed__inner .feed__autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__inner .main__container .container__feed .feed__inner .feed__autor .woman {
  position: relative;
  width: 43px;
  height: 43px;
  margin: 20px;
  background: url(../img/main/sofi.png) no-repeat center/cover;
}

.main__inner .main__container .container__feed .feed__inner .feed__autor .woman p {
  position: absolute;
  top: 40px;
  margin-top: 10px;
  font-size: 8px;
  color: #979796;
  text-transform: capitalize;
}

.main__inner .main__container .container__feed .feed__inner .feed__autor .man {
  position: relative;
  width: 43px;
  height: 43px;
  margin: 20px;
  background: url(../img/main/peter.png) no-repeat center/cover;
}

.main__inner .main__container .container__feed .feed__inner .feed__autor .man p {
  position: absolute;
  top: 40px;
  margin-top: 10px;
  font-size: 8px;
  color: #979796;
  text-transform: capitalize;
}

.main__inner .main__container .container__feed .feed__inner .feed__feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__inner .main__container .container__feed .feed__inner .feed__feed .feed__text {
  margin: 5px;
  padding: 20px;
  border: #f1f1f1 1px solid;
}

.main__inner .main__container .container__feed .feed__inner .feed__feed .feed__text .text {
  font-size: calc(10px + 0.2vw);
  text-align: left;
  line-height: 1.2;
  color: #777;
}

.main__inner .main__container .container__feed .feed__inner .feed__feed .feed__subtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main__inner .main__container .container__feed .feed__inner .feed__feed .feed__subtext .side-line {
  width: 4px;
  margin-right: 15px;
  background-color: #f1f1f1;
  border: 0.5px solid #f1f1f1;
}

.main__inner .main__container .container__feed .feed__inner .feed__feed .feed__subtext .inside_text .subtext {
  margin: 5px;
  padding: 20px;
  border: #f1f1f1 1px solid;
}

.main__inner .main__container .container__feed .feed__inner .feed__feed .feed__subtext .inside_text .subtext .text__sophie {
  font-size: calc(10px + 0.2vw);
  text-align: left;
  line-height: 1.2;
  color: #777;
}

.main__inner .main__container .container__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 520px;
          flex: 1 1 520px;
}

.main__inner .main__container .container__holder .holder__task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(100% - 20px);
          flex: 1 0 calc(100% - 20px);
  margin: 9px;
  padding: 31px;
  background-color: white;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.main__inner .main__container .container__holder .holder__task .task__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.3vw;
}

.main__inner .main__container .container__holder .holder__task .task__radio .radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.2em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px;
  border-top: #e7e7e7 1px solid;
}

.main__inner .main__container .container__holder .holder__task .task__radio .radio .custom-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 10px;
}

.main__inner .main__container .container__holder .holder__task .task__radio .radio .custom-radio span {
  margin-left: 10px;
  font-weight: bold;
  font-size: 1em;
  color: #fd566f;
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#fd5272), to(#fb765a));
  background: linear-gradient(to right, #fd5272, #fb765a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.main__inner .main__container .container__holder .holder__task .task__radio .radio .radio__text {
  font-size: 12px;
  color: #bfbfbf;
}

.main__inner .main__container .container__holder .holder__task .task__radio .radio .radio__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__inner .main__container .container__holder .holder__task .task__radio .radio .radio__time .clock {
  margin-right: 10px;
  color: #bfbfbf;
}

.main__inner .main__container .container__holder .holder__task .task__radio .radio .radio__time .clock__time {
  font-weight: bold;
  font-size: 12px;
  color: #9C9C9C;
}

.main__inner .main__container .container__holder .holder__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 9px;
  padding: 31px;
  background-color: white;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.main__inner .main__container .container__holder .holder__progress .h4 {
  padding-top: 1vw;
  margin: 0 0 1vw 0;
  font-size: calc(10px + 0.3vw);
  font-weight: bold;
  text-transform: capitalize;
  color: #777;
}

.main__inner .main__container .container__holder .holder__progress .progress__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 135px;
  height: 90px;
  background: url(../img/main/progress.png) no-repeat center/cover;
}

.main__inner .main__container .container__holder .holder__progress .progress__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0.3em 0;
  font-weight: bold;
  font-size: calc(19px + 0.1vw);
  color: #8646b3;
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#8646b3), to(#737fde));
  background: linear-gradient(to right, #8646b3, #737fde);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.main__inner .main__container .container__holder .holder__progress .box__stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
}

.main__inner .main__container .container__holder .holder__progress .box__stat p {
  margin: 0;
  padding: 0.5em;
  font-weight: bold;
  font-size: calc(12px + 0.1vw);
  color: #777;
  padding: 0;
}

.main__inner .main__container .container__holder .holder__progress .box__stat .up {
  color: #6c5bb6;
}

.main__inner .main__container .container__holder .holder__progress .box__stat .down {
  color: #fd5272;
}

.main__inner .main__container .container__holder .holder__shipments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 9px;
  padding: 31px;
  background-color: white;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.main__inner .main__container .container__holder .holder__shipments .shipment__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 187px;
  height: 115px;
  background: url(../img/main/shipment.png) no-repeat center/cover;
}

.main__inner .main__container .container__holder .holder__shipments .shipment__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__inner .main__container .container__holder .holder__shipments .shipment__footer .shipment__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0.3em 0;
  font-weight: bold;
  font-size: calc(19px + 0.1vw);
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#fd5272), to(#fb765a));
  background: linear-gradient(to right, #fd5272, #fb765a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.main__inner .main__container .container__holder .holder__shipments .shipment__footer .box__stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
}

.main__inner .main__container .container__holder .holder__shipments .shipment__footer .box__stat p {
  margin: 0;
  padding: 0.5em;
  font-weight: bold;
  font-size: calc(12px + 0.1vw);
  color: #777;
  padding: 0;
}

.main__inner .main__container .container__holder .holder__shipments .shipment__footer .box__stat .up {
  color: #6c5bb6;
}

.main__inner .main__container .container__holder .holder__shipments .shipment__footer .box__stat .down {
  color: #fd5272;
}

.main__right-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 270px;
          flex: 0 0 270px;
  width: 270px;
  background-color: white;
}

.main__right-sidebar .right-sidebar__users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__right-sidebar .right-sidebar__users .users__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 48px;
  background: -webkit-gradient(linear, left top, right top, from(#fd5272), to(#fb765a));
  background: linear-gradient(to right, #fd5272, #fb765a);
}

.main__right-sidebar .right-sidebar__users .users__panel .panel__button {
  position: relative;
  width: 98px;
  height: 48px;
}

.main__right-sidebar .right-sidebar__users .users__panel .panel__button:hover {
  background-color: #fd395d;
}

.main__right-sidebar .right-sidebar__users .users__panel .panel__button:hover::after {
  content: '\25BC';
  position: absolute;
  top: 45px;
  left: 35px;
  color: #fd395d;
}

.main__right-sidebar .right-sidebar__users .users_account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__right-sidebar .right-sidebar__users .users_account .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  border-bottom: #f1f1f1 1px solid;
}

.main__right-sidebar .right-sidebar__users .users_account .account .account__photo {
  width: 42px;
  height: 42px;
}

.main__right-sidebar .right-sidebar__users .users_account .account .account__about .about__name {
  text-align: left;
  font-size: 13px;
  font-weight: bold;
  color: #777;
}

.main__right-sidebar .right-sidebar__users .users_account .account .account__about .about__profession {
  margin: 4px 0;
  font-size: 10px;
  color: #BFBFBF;
}

.main__right-sidebar .right-sidebar__users .users_account .account .account__message {
  width: 20px;
  height: 16px;
  background: url(../img/right-sidebar/chat2.png) no-repeat center/cover;
}

.main__right-sidebar .right-sidebar__users .right-sidebar__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  border-bottom: #f1f1f1 1px solid;
}

form {
  position: relative;
  padding: 15px 10px;
  border-bottom: #f1f1f1 1px solid;
}

.input {
  width: 70%;
  height: 30px;
  margin: 5px;
  padding-left: 15px;
  font-size: 10px;
  font-weight: 400;
  border: 0.2px solid #c7c7c75e;
}

button {
  border: none;
  height: 42px;
  width: 42px;
  background: url(../img/right-sidebar/zoom.png) no-repeat center;
  position: absolute;
  top: 10px;
  right: 40px;
  cursor: pointer;
}

.edit {
  height: 42px;
  width: 42px;
  background: url(../img/right-sidebar/edit.png) no-repeat center;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.user {
  width: 24px;
  height: 20px;
  margin: 14px 33px;
  background: url(../img/right-sidebar/user.png) no-repeat center/cover;
}

.chat {
  width: 24px;
  height: 20px;
  margin: 14px 33px;
  background: url(../img/right-sidebar/chat.png) no-repeat center/90%;
}

.like {
  width: 24px;
  height: 20px;
  margin: 14px 33px;
  background: url(../img/right-sidebar/like.png) no-repeat center/90%;
}

.jenifer {
  background: url(../img/right-sidebar/jennifer.jpeg) no-repeat center/cover;
}

.brad {
  background: url(../img/right-sidebar/brad.jpeg) no-repeat center/cover;
}

.leo {
  background: url(../img/right-sidebar/leo.jpeg) no-repeat center/cover;
}

.jesse {
  background: url(../img/right-sidebar/jesse.jpeg) no-repeat center/cover;
}

.kristen {
  background: url(../img/right-sidebar/kristen.jpeg) no-repeat center/cover;
}

.ben {
  background: url(../img/right-sidebar/ben.jpeg) no-repeat center/cover;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer .footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px;
}

.footer .footer__icons .icons__rdio {
  position: relative;
  width: 55px;
  height: 55px;
  margin: 5px;
  border-radius: 25%;
  background: -webkit-gradient(linear, left top, right top, from(#6c5bb6), to(#ab68dd));
  background: linear-gradient(to right, #6c5bb6, #ab68dd);
}

.footer .footer__icons .icons__rdio .rdio {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 31px;
  height: 25px;
  background: url(../img/footer/rdio-logo.png) no-repeat center/100%;
}

.footer .footer__icons .icons__css {
  position: relative;
  width: 55px;
  height: 55px;
  margin: 5px;
  border-radius: 25%;
  background: -webkit-gradient(linear, left top, right top, from(#4cbec3), to(#51e2c4));
  background: linear-gradient(to right, #4cbec3, #51e2c4);
}

.footer .footer__icons .icons__css .css {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 31px;
  height: 25px;
  background: url(../img/footer/css-3-logo.png) no-repeat center/100%;
}

.footer .footer__icons .icons__deviantart {
  position: relative;
  width: 55px;
  height: 55px;
  margin: 5px;
  border-radius: 25%;
  background: -webkit-gradient(linear, left top, right top, from(#b8757c), to(#efb094));
  background: linear-gradient(to right, #b8757c, #efb094);
}

.footer .footer__icons .icons__deviantart .deviantart {
  position: absolute;
  top: 13px;
  right: 18px;
  width: 20px;
  height: 30px;
  background: url(../img/footer/deviantart-logo.png) no-repeat center/90%;
}

.footer .footer__icons .icons__xing {
  position: relative;
  width: 55px;
  height: 55px;
  margin: 5px;
  border-radius: 25%;
  background: -webkit-gradient(linear, left top, right top, from(#854ab6), to(#7282e0));
  background: linear-gradient(to right, #854ab6, #7282e0);
}

.footer .footer__icons .icons__xing .xing {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 31px;
  height: 25px;
  background: url(../img/footer/xing-logo.png) no-repeat center/100%;
}

.footer .footer__icons .icons__vimeo {
  position: relative;
  width: 55px;
  height: 55px;
  margin: 5px;
  border-radius: 25%;
  background: -webkit-gradient(linear, left top, right top, from(#5091e6), to(#30c2df));
  background: linear-gradient(to right, #5091e6, #30c2df);
}

.footer .footer__icons .icons__vimeo .vimeo {
  position: absolute;
  top: 15px;
  right: 13px;
  width: 31px;
  height: 25px;
  background: url(../img/footer/vimeo-logo.png) no-repeat center/100%;
}

.footer .footer__icons .icons__vk {
  position: relative;
  width: 55px;
  height: 55px;
  margin: 5px;
  border-radius: 25%;
  background: -webkit-gradient(linear, left top, right top, from(#f59383), to(#f59383));
  background: linear-gradient(to right, #f59383, #f59383);
}

.footer .footer__icons .icons__vk .vk {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 35px;
  height: 25px;
  background: url(../img/footer/vk-logo.png) no-repeat center/100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  background-color: #ececec;
  font-family: 'Lato', sans-serif;
}

body .wrapper .header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
}

body .wrapper .container__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .wrapper .container__inner main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h4 {
  padding-top: 1vw;
  margin: 0 0 1vw 0;
  font-size: calc(10px + 0.3vw);
  font-weight: bold;
  text-transform: capitalize;
  color: #777;
}
/*# sourceMappingURL=main.css.map */