@import "../global/variables";

@mixin violet-gradient {
    background: linear-gradient(0deg, #8646b3, #737fde);
}

@mixin orange-gradient {
    background: linear-gradient(0deg, #fd5272, #fb765a);
}

@mixin gradient-text {
    background: linear-gradient(0deg, #fd5272, #fb765a);
    mix-blend-mode: screen;
}

@mixin nav-text {
    position: absolute;
    top: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    color: white;
}

@mixin daily-text {
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
    font-size: calc(12px + 0.1vw);
    color: $colortext; 
}

@mixin daily-number {
    margin: 0 0 0.3em 0;
    font-weight: bold;
    font-size: calc(19px + 0.1vw);
    color: #FD7858;
}
 @mixin header-settings {
    position: relative;
    width: 22px;
    height: 20px;
    margin: 1.5em;
 }

@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}