@import "../global/variables";

@mixin violet-gradient {
    background: linear-gradient(0deg, #8646b3, #737fde);
}

@mixin orange-gradient {
    background: linear-gradient(0deg, #fd5272, #fb765a);
}

@mixin gradient-text {
    background: linear-gradient(0deg, #fd5272, #fb765a);
    mix-blend-mode: screen;
}

@mixin nav-text {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    color: white;
}

@mixin daily-text {
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
    font-size: calc(12px + 0.1vw);
    color: $colortext; 
}

@mixin daily-number {
    margin: 0 0 0.3em 0;
    font-weight: bold;
    font-size: calc(19px + 0.1vw);
    color: #FD7858;
}
 @mixin header-settings {
    position: relative;
    width: 22px;
    height: 20px;
    margin: 1.5em;
 }

 @mixin title {
     padding-top: 1vw;
     margin: 0 0 1vw 0;
     font-size: calc(10px + 0.3vw);
     font-weight: bold;
     text-transform: capitalize;
     color: $colortitle;
 }

@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin mid {
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100vw;
    }
    @media  (max-width : 590px) {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100vw;
    }
    @media  (max-width : 380px) {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100vw;
    }

}

@mixin left-sidebar {
    @media (max-width: 768px) {
        display: none;  
    }
}
@mixin header {
    @media (max-width: 768px) {
        margin: 0;
        .gamburger_menu {
            display: flex;
        }
    }
}

