// ===========================COLORS===========================
$gradient-pink: #fd5272;
$gradient-orange: #fb765a;
$gradient-violet: #8646b3;
$gradient-purple: #737fde;

$colortext: #777;

// ======colors for sprite=====
$rdio-first: #6c5bb6;
$rdio-secondary: #ab68dd;
$css3-first: #4cbec3;
$css3-secondary: #51e2c4;
$deviantart-first: #b8757c;
$deviantart-secondary: #efb094;
$xing-first: #854ab6;
$xing-secondary: #7282e0;
$vimeo-first: #5091e6;
$vimeo-secondary: #30c2df;
$vk-first: #f59383;
$vk-secondary: #f59383;



// ============================FONT-SIZES==========================

$logo-text: calc(27px + 0.5vw);

// =============================screen-sizes=====================
$screen-md-min: 768px;
$screen-sm-min: 350px;
$screen-big-min: 1370px;
