
header {
    // @include header;
    .gamburger_menu {
        position: relative;
        display: none;
        width: 2.5em;
        height: 0.3em;
        background: #fff;
    }
    
    .gamburger_menu::after {
        content: '';
        position: absolute;
        top: 0.50em;
        left:0;
        right: 0;
        width: 2.5em;
        height: 0.3em;
        background: #fff;
    }
    
    .gamburger_menu::before {
        content: '';
        position: absolute;
        top: -0.50em;
        left:0;
        right: 0;
        width: 2.5em;
        height: 0.3em;
        background: #fff;
    }
    // =============================HEADER========================
    .header__nav {
        display: flex;
        flex-direction: column;
        background-color:white;
        border-bottom: #f6f6f6 solid 1px;
        
        .header__settings {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            //==================MORE=================================
            .settings__more {
                padding: 1.5em;
                border-right: #e6e6e680 solid 1px;
                .more__background {
                    position: relative;
                    width: 33px;
                    height: 18px;
                   @include orange-gradient;
                    border-radius: 15px;
                    .more__point {
                        position: absolute;
                        top:6px;
                        left: 13px;
                        width: 5px;
                        height: 5px;
                        margin: 0;
                        background: white;
                        border-radius: 50%;
                    }
                    .more__point::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: -7.5px;
                        width: 5px;
                        height: 5px;
                        margin: 0;
                        background: white;
                        border-radius: 50%;
                    }
                    .more__point::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 7px;
                        width: 5px;
                        height: 5px;
                        margin: 0;
                        background: white;
                        border-radius: 50%;
                    }
                }
            }
            // =================FOLDERS=====================
            .settings__folders {
                @include header-settings;
                background: url(../img/header/folder-header.png) no-repeat center/ cover;
            }
            .settings__folders:after {
                content: "";
                position: absolute;
                width: 100%; 
                height: 100%;
                @include orange-gradient; 
                mix-blend-mode: screen;
            }
            // ===============SETTINGS========================
            .settings__settings {
                @include header-settings;
                background: url(../img/header/settings-header.png) no-repeat center/ 100%;
            }
            .settings__settings:after {
                position: absolute;
                width: 100%; 
                height: 100%;
                content: "";
                @include orange-gradient; 
                mix-blend-mode: screen;
            }

            // =======================SEARCH======================
            .settings__search {
                margin: 0 auto;
            .settings__search:after {
                content:""; 
                clear:both;
            }
                .search__form {
                    position: relative;
                    width: auto;
                    margin: 0 auto;
                    input, button {
                        border-radius: 5%;
                        border: 1px solid #cecece;   
                    }
                    input {
                        width: calc(100px + 10vw);
                        height: calc(25px + 1vw);
                        // padding-left: 15px;
                        background: transparent; 
                    }
                    button {
                        width: calc(25px + 1vw);
                        height: calc(25px + 1vw);
                        background: none;
                        border: none;
                        position: absolute;
                        top: 1.5vw;
                        right: 1vw;
                        cursor: pointer;
                    }
                    button:before {
                        content: "\1F50E";
                        font-family: FontAwesome;
                        color: #cecece;
                        font-size: calc(10px + 1vw);
                        font-weight: 300;
                    }
                }
            }
            .settings__upload {
                @include header-settings;
                background: url(../img/header/upload-header.png) no-repeat center/ cover;
            }
            .settings__upload:after {
                content: "";
                position: absolute;
                width: 100%; 
                height: 100%;
                @include orange-gradient; 
                mix-blend-mode: screen;
            }

            .settings__mail {
                @include header-settings;
                background: url(../img/header/envelope-header.png) no-repeat center/ 100%;
            }
            .settings__mail:after {
                content: "";
                position: absolute;
                width: 100%; 
                height: 100%;
                @include orange-gradient; 
                mix-blend-mode: screen;
            }

            .settings__earth {
                @include header-settings;
                background: url(../img/header/earth-header.png) no-repeat center/ 90%;
            }
            .settings__earth:before {
                content: "";
                position: absolute;
                top: -3px;
                right: -6px;
                width: 7px; 
                height: 7px;
                background-color: $gradient-pink;
                border-radius: 50%;
            }
            .settings__earth:after {
                content: "";
                position: absolute;
                width: 100%; 
                height: 100%;
                @include orange-gradient; 
                mix-blend-mode: screen;
            }

            
            // ========================PROFILE=======================
            .header__profile {
                display: flex;
                .profile__foto {
                    width: 70px;
                    height: 70px;
                    margin: 0 1em;
                    background: url(../img/header/foto_kendall.jpeg) no-repeat center/ cover;
                }
                .profile__data {
                    .profile__name {
                        margin-bottom: 0;
                        font-size: 1em;
                        color: #fd5272;
                        @include gradient-title;
                    }
                    .profile__profession {
                        margin: 4px 0;
                        font-size: 10px;
                        color: #BFBFBF;
                    }
                }
                .profile__more {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 10px;
                    .more__point {
                        position: relative;
                        width: 5px;
                        height: 5px;
                        background-color: #c2c2c2;
                        border-radius: 50%;
                    }
                    .more__point:before {
                        content: '';
                        position: absolute;
                        top: -8px;
                        width: 5px;
                        height: 5px;
                        background-color: #c2c2c2;
                        border-radius: 50%;
                    }
                    .more__point:after {
                        content: '';
                        position: absolute;
                        top: 8px;
                        width: 5px;
                        height: 5px;
                        background-color: #c2c2c2;
                        border-radius: 50%;
                    }
                   
                }
            }
        }
    }

// ==========================STATISTIC-TAB===========================
    .statistic-tab {
       
        .conteiner-header{
            @include sm;
            display: flex;
            justify-content: space-around;
            padding: 1.4em;
            background-color: white;
            border-top: whitesmoke;
            .tab__daily {
               
                .daily__text {
                    @include daily-text;
                }
                .daily__number {
                    @include daily-number;
                    @include gradient-title;
                }
                .daily_stat {
                    display: flex;
                    justify-content: space-between;
                    font-size: calc(12px + 0.1vw);
                    p {
                        @include daily-text;
                        padding: 0;
                    }
                    .up {
                        color: #6c5bb6;
                    }
                    .down {
                        color: #fd5272;
                    }
                }
    
                .daily__add {
                    @include daily-number;
                    @include gradient-title;
                    padding-top: 1.5em;
                }
            }
        }
    }
}