.main__inner {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 14px;
    background-color: #ececec;
    .main__container {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        // ===================================================PROGRESS GRAPH============
        .container__progress {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            flex-grow: 2;
            @include container; 
            .box__header {
                display: flex;
                justify-content: space-between;
                .h4 {
                @include title;
                }
                .box__list {
                    display: flex;
                    list-style-type: none;
                    .box__item {
                        padding: 10px;
                         font-size: calc(10px + 0.2vw);
                        font-weight: bold;
                        color: #bfbfbf;
                        .box__item:hover {
                            padding: 10px;
                            font-size: calc(10px + 0.2vw);
                            font-weight: bold;
                            color: #bfbfbf; 
                            @include orange-gradient;

                        }
                    }
                }
            }
            .box__graph {
                width: 100%;
                height: 200px;
                background: url(../img/main/graph.png) no-repeat center/ 90%;
            } 
        }
        // ============================================CIRCLE=======================
        .container__circle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            @include container;
            .h4 {
                @include title;
            }
            .box__img {
                position: relative;
                width: 200px;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background: white;
                .percent {
                    position: relative;
                    width: 150px;
                    height: 150px;
                    svg {
                        position: relative;
                        width: 150px;
                        height: 150px;
                        circle {
                            width: 100%;
                            height: 100%;
                            fill: none;
                            stroke-width: 10;
                            stroke: #000;
                            transform: translate(5px,5px);
                            stroke-dasharray: 440;
                            stroke-dashoffset: 440;
                            stroke-linecap: round;
                        }
                        circle:nth-child(1) {
                            stroke-dasharray: 0;
                            stroke-dashoffset: 0;
                            stroke: #e2dfdf;
                        }
                        circle:nth-child(2) {
                            stroke-dashoffset: -50;
                            stroke: #8646b3;
                        }
                    }
                    .number {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #8646b3;
                        h2 {
                            font-size: 30px;
                            font-weight: bold;

                        }
                    }
                }
            }
            .box__stat {
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                p {
                    @include daily-text;
                    padding: 0;
                }
                .up {
                    color: #6c5bb6;
                }
                .down {
                    color: #fd5272;
                }
            }

        }
        // ============================================FEED===========================
        .container__feed {
            display: flex;
            flex-direction: column;
            flex-grow: 1.5;
            width: 350px;
            @include container;
            .feed__inner {
                display: flex;
                margin-top: 35px;
                .feed__autor {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;            
                    .woman {
                        position: relative;
                        width: 43px;
                        height: 43px;
                        margin: 20px;
                        background: url(../img/main/sofi.png) no-repeat center/ cover;                       
                        p {
                            @include feed__time;
                        }
                    }
                    .man {
                        position: relative;
                        width: 43px;
                        height: 43px;
                        margin: 20px;
                        background: url(../img/main/peter.png) no-repeat center/ cover;
                        p {
                            @include feed__time;
                        }
                    }
                }
                .feed__feed {
                    display: flex;
                    flex-direction: column;
                    .feed__text {
                        margin: 5px;
                        padding: 20px;
                        border: #f1f1f1 1px solid;
                        .text {
                            @include feed__text;
                        }
                    }
                    .feed__subtext {
                        display: flex;
                        justify-content: space-around;
                        .side-line {
                            width: 4px;
                            margin-right: 15px;
                            background-color: #f1f1f1;
                            border: 0.5px solid #f1f1f1;
                        }
                        .inside_text {
                            
                            .subtext {
                                margin: 5px;
                                padding: 20px;
                                border: #f1f1f1 1px solid;
                                .text__sophie {
                                    @include feed__text;
                                }
                            }
                        }
                    }

                }
            }
        }
        .container__holder {
            display: flex;
            flex-wrap: wrap;
            flex: 1 1 520px;
            // ===========================================TASK=========================
            .holder__task {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                flex: 1 0 calc(100% - 20px);
                @include container;
                .task__radio {
                    display: flex;
                    flex-direction: column;
                    margin-top: 1.3vw;
                    .radio {
                        display: flex;
                        margin-bottom: 0.2em;
                        justify-content: space-between;
                        align-items: center;
                        max-width: 440px;
                        padding: 14px;
                        border-top: #e7e7e7 1px solid;
                    .radio:nth-child(4) {
                        border-top: #e7e7e7 1px solid;
                        border-bottom: #e7e7e7 1px solid;
                    }
                        .custom-radio{
                            display: flex;
                            justify-content: space-between;
                            margin-right: 10px;
                            span {
                                margin-left: 10px;
                                font-weight: bold;
                                font-size: 1em;
                                color: #fd566f;
                            }
                        }
                        .radio__text {
                            font-size: 12px;
                            color: #bfbfbf;
                        }
                        .radio__time {
                            display: flex;
                            .clock {
                                margin-right: 10px;
                                color: #bfbfbf;

                            }
                            .clock__time {
                                font-weight: bold;
                                font-size: 12px;
                                color: #9C9C9C;
                            }
                        }
                    }
               }
            }

            // ========================================PROGRESS======================
            .holder__progress {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                flex:1 0 auto; 
                @include container;
                .h4 {
                    @include title;
                }
                .progress__img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 135px;
                    height: 90px;
                    background: url(../img/main/progress.png) no-repeat center/ cover;
                }
                .progress__number {
                    display: flex;
                    justify-content: center;
                    margin: 0 0 0.3em 0;
                    font-weight: bold;
                    font-size: calc(19px + 0.1vw);
                    color: $gradient-violet;
                }
                .box__stat {
                    display: flex;
                    justify-content: center;
                    font-size: 14px;
                    p {
                        @include daily-text;
                        padding: 0;
                    }
                    .up {
                        color: #6c5bb6;
                    }
                    .down {
                        color: #fd5272;
                    }
                }
                
            }

            //  =============================================== shipment==================
            .holder__shipments {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                flex: 1 0 auto;
                @include container;
                .shipment__img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 187px;
                    height: 115px;
                    background: url(../img/main/shipment.png) no-repeat center/ cover;
                }
                .shipment__footer {
                    display: flex;
                    justify-content: space-between;
                    .shipment__number {
                        display: flex;
                        justify-content: center;
                        margin: 0 0 0.3em 0;
                        font-weight: bold;
                        font-size: calc(19px + 0.1vw);
                        color: $gradient-pink;
                    }
                    .box__stat {
                        display: flex;
                        justify-content: center;
                        font-size: 14px;
                        p {
                            @include daily-text;
                            padding: 0;
                        }
                        .up {
                            color: #6c5bb6;
                        }
                        .down {
                            color: #fd5272;
                        }
                    }
                }
            }
        }
    }
}   