.left-sidebar {
    display: flex;
    flex-direction: column;
    width: 70px;
    @include orange-gradient;
    @include left-sidebar;
    
    .left-sidebar__logo {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        background: white;
        p {
            padding: 0.4em 0.7em;
            font-family: 'Deftone Stylus', arial;
            font-size: $logo-text;
            font-weight: bold;
            text-transform: uppercase;
            background: white;
            @include gradient-title;

        }
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
    .left-sidebar__nav {
        display: flex;
        flex-direction: column;
        flex-grow: 1000;
        align-items: center;
        .nav__main {
            display: flex;
            align-items: center;
            flex-direction: column;
            flex:auto;
            padding: 0;
            .nav__link {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 20px;
                height: 20px;
                margin: 20px;
                cursor: pointer;
            }
            .nav__link:hover::after {
                content: ''; 
                position: absolute;
                bottom: 5px;
                left: 40px;
                border: 10px solid transparent; 
                border-left: 10px solid #EA6D54; 
            }
           
            p {
                position: absolute;
                top: 20px;
                @include nav-text; 
            }

            .power {
                margin-top: auto;
                margin-bottom: 20px;
            }


        }
    }
}

.home {
    background: url(../img/left-sidebar/home.png) no-repeat center/ cover;
}

.stat {
    background: url(../img/left-sidebar/statistics.png) no-repeat center/ cover;
}

.users {
    background: url(../img/left-sidebar/users.png) no-repeat center/ cover;
}

.set {
    background: url(../img/left-sidebar/settings.png) no-repeat center/ cover;
}

.quires {
    background: url(../img/left-sidebar/quires.png) no-repeat center/ cover;
}

.power {
    background: url(../img/left-sidebar/power-button.png) no-repeat center/ cover;
}