.main__right-sidebar {
    display: flex;
    flex: 0 0 270px;
    width: 270px;
    height: 835px;
    background-color: white;
    .right-sidebar__users {
        display: flex;
        flex-direction: column;
        .users__panel {
            display: flex;
            align-items: center;
            width: 270px;
            height: 48px;
            @include left-right-gradient;
            .panel__button {
                position: relative;
                width: 98px;
                height: 48px;  
            }
            .panel__button:hover {
                background-color: darken($color: $gradient-pink, $amount: 5);
            }
            .panel__button:hover::after {
                content: '\25BC';
                position: absolute;
                top: 45px;
                left: 35px;
                color: darken($color: $gradient-pink, $amount: 5)
            }
        }
    }
}

.user {
    width: 24px;
    height: 20px;
    margin: 14px 33px;
    background: url(../img/right-sidebar/user.png) no-repeat center/ cover;
}

.chat {
    width: 24px;
    height: 20px;
    margin: 14px 33px;
    background: url(../img/right-sidebar/chat.png) no-repeat center/ 90%;
}

.like {
    width: 24px;
    height: 20px;
    margin: 14px 33px;
    background: url(../img/right-sidebar/like.png) no-repeat center/ 90%;
}
