.main__right-sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 270px;
    width: 270px;
    background-color: white;
    .right-sidebar__users {
        display: flex;
        flex-direction: column;
        // =========================================PANEL============================
        .users__panel {
            display: flex;
            align-items: center;
            width: 270px;
            height: 48px;
            @include left-right-gradient;
            .panel__button {
                position: relative;
                width: 98px;
                height: 48px;  
            }
            .panel__button:hover {
                background-color: darken($color: $gradient-pink, $amount: 5);
            }
            .panel__button:hover::after {
                content: '\25BC';
                position: absolute;
                top: 45px;
                left: 35px;
                color: darken($color: $gradient-pink, $amount: 5)
            }
        }
        // =========================================ACCOUNT=========================
        .users_account {
            display: flex;
            flex-direction: column;
            .account {
                display: flex;
                align-items: center;
                justify-content:space-around;
                padding: 20px;
                border-bottom: #f1f1f1 1px solid;
                .account__photo {
                    width: 42px;
                    height: 42px;
                }
                .account__about {
                    .about__name {
                        text-align: left;
                        font-size: 13px;
                        font-weight: bold;
                        color: $colortext;
                    }
                    .about__profession {
                        margin: 4px 0;
                        font-size: 10px;
                        color: #BFBFBF;
                    }
                }
                .account__message {
                    width: 20px;
                    height: 16px;
                    background: url(../img/right-sidebar/chat2.png) no-repeat center/ cover;
                }
            }
        }
        .right-sidebar__search {
            display: flex;
            justify-content: center;
            padding: 20px;
            border-bottom: #f1f1f1 1px solid;
        }
        
    }
}
// =====================================SEARCH========================================
form {
    position: relative;
    padding: 15px 10px;
    border-bottom: #f1f1f1 1px solid;
}
.input {
    width: 70%;
    height: 30px;
    margin: 5px;
    padding-left: 15px;
    font-size: 10px;
    font-weight: 400;
    border: 0.2px solid #c7c7c75e;
}
button {
    border: none;
    height: 42px;
    width: 42px;
    background: url(../img/right-sidebar/zoom.png) no-repeat center;
    position: absolute;
    top: 10px;
    right: 40px;
    cursor: pointer;
}
.edit {
    height: 42px;
    width: 42px;
    background: url(../img/right-sidebar/edit.png) no-repeat center;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

// ===============================================================================

.user {
    width: 24px;
    height: 20px;
    margin: 14px 33px;
    background: url(../img/right-sidebar/user.png) no-repeat center/ cover;
}

.chat {
    width: 24px;
    height: 20px;
    margin: 14px 33px;
    background: url(../img/right-sidebar/chat.png) no-repeat center/ 90%;
}

.like {
    width: 24px;
    height: 20px;
    margin: 14px 33px;
    background: url(../img/right-sidebar/like.png) no-repeat center/ 90%;
}

.jenifer {
    background: url(../img/right-sidebar/jennifer.jpeg) no-repeat center/ cover;
}

.brad {
    background: url(../img/right-sidebar/brad.jpeg) no-repeat center/ cover;
}

.leo {
    background: url(../img/right-sidebar/leo.jpeg) no-repeat center/ cover;
}

.jesse {
    background: url(../img/right-sidebar/jesse.jpeg) no-repeat center/ cover;
}

.kristen {
    background: url(../img/right-sidebar/kristen.jpeg) no-repeat center/ cover;
}

.ben {
    background: url(../img/right-sidebar/ben.jpeg) no-repeat center/ cover;
}



